.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr
}

.top {
  grid-column: 1/3;
  grid-row: 1;
  background-color: red;
}

.profile {
  padding-top: 60px;
  grid-column: 2;
  grid-row: 2;
  background-color: blue;
}

.lists {
  background-color: green grid-column: 2/3;
  grid-row: 2;
}

/* gtmdl */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.demo-layout-transparent {
  background: url('background.jpg') center / cover;
  /* height: 250px; */
  overflow: hidden;
  /* filter: grayscale(100%); */
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.demo-card-wide.mdl-card {
  width: 1000px;
}

.demo-card-wide>.mdl-card__title {
  color: black;
  /* text-align: center */
  /* height: 176px; */
  /* background: url('./assets/background.jpg') center / cover; */
}


/* .demo-card-wide>.mdl-card__menu {
            color: #fff;
          } */